<h1>Show Users</h1>

<table class="table table-striped">
	<thead>
		<th>id</th>
		<th>Name</th>
		<th>Phone</th>
		<th>Date</th>
		<th>Barber</th>
		<th>Color</th>
	</thead>
	<tbody>
		<% @show_db.each do |row| %>
		<tr>
			<th><%= row['id'] %></th>
			<td><%= row['Name'] %></td>
			<td><%= row['Phone'] %></td>
			<td><%= row['DateStamp'] %></td>
			<td><%= row['Barber'] %></td>
			<td><%= row['Color'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>